<ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
     <h1>Feedback Form</h1>
    <ion-row>
      <ion-col size="12">
        <div class="can">
          <form>
          
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input formControlName="name" type="text" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="email" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label>Rating</ion-label>
              <ion-select formControlName="rating" required>
                <ion-select-option value="">--Select a rating--</ion-select-option>
                <ion-select-option value="excellent">Excellent</ion-select-option>
                <ion-select-option value="good">Good</ion-select-option>
                <ion-select-option value="average">Average</ion-select-option>
                <ion-select-option value="poor">Poor</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>How was your experience with the digital museum?</ion-label>
              <div class="rating-container">
                <br>
                <ion-icon name="sad-outline" size="large" ></ion-icon>
                <ion-icon name="neutral-outline" size="large" ></ion-icon>
                <ion-icon name="happy-outline" size="large" ></ion-icon>
              </div>
              <ion-input type="hidden" formControlName="rating"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Feedback</ion-label>
              <ion-textarea formControlName="feedback" required></ion-textarea>
            </ion-item>
            
            <ion-button type="submit" [disabled]="!feedbackForm.valid" expand="block">Submit</ion-button>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>