
<ion-header>
  <ion-toolbar>
    <ion-title>
      Header
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="image">
    <img
      style="height: 100%; width: 100%"
      src="assets/kh.jpg"
      alt=""
      srcset=""
    />
    <figcaption>
      <div class="hero-container">
        <div class="environment"></div>
        <h2 class="hero glitch layers" data-text="近設計">
          <span>THE <BR><br>KID'S <BR><br> MUSEUM</span>
        </h2>
      </div>
    </figcaption>
  </div>
  <ion-card class="card">
    <img alt="Silhouette of mountains" src="assets/k1.jpg" />
    <ion-card-header>
      <ion-card-title>All About SPACE</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Humanity has studied space since antiquity, when people first looked up and observed the wonders of the cosmos. Today, we send rockets, astronauts and probes into the solar system and beyond. Our expert coverage includes the latest updates on NASA, the James Webb Space Telescope, and firms like SpaceX, making it the ultimate resource for space enthusiasts.    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img alt="Silhouette of mountains" src="assets/k2.jpg" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img alt="Silhouette of mountains" src="assets/k3.jpg" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img alt="Silhouette of mountains" src="assets/k4.jpg" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img alt="Silhouette of mountains" src="assets/k5.jpg" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img alt="Silhouette of mountains" src="assets/k6.jpg" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img alt="Silhouette of mountains" src="assets/k7.jpg" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img alt="Silhouette of mountains" src="assets/k8.jpg" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
