<ion-header [translucent]="true">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h1>Upcoming Event</h1>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="event">
      <div class="event-date">
        <span class="month">May</span>
        <span class="day">15</span>
        <span class="year">2023</span>
        <span class="time">3:00 PM</span>
      </div>
      <h2 class="event-name">Digital Art Exhibition</h2>
    </div>
    <button class="btn">Click Here for Details</button>
  </div>
  <div class="container">
    <div class="event">
      <div class="event-date">
        <span class="month">May</span>
        <span class="day">15</span>
        <span class="year">2023</span>
        <span class="time">3:00 PM</span>
      </div>
      <h2 class="event-name">Digital Art Exhibition</h2>
    </div>
    <button class="btn">Click Here for Details</button>
  </div>
  <div class="container">
    <div class="event">
      <div class="event-date">
        <span class="month">May</span>
        <span class="day">15</span>
        <span class="year">2023</span>
        <span class="time">3:00 PM</span>
      </div>
      <h2 class="event-name">Digital Art Exhibition</h2>
    </div>
    <button class="btn">Click Here for Details</button>
  </div>
  <div class="container">
    <div class="event">
      <div class="event-date">
        <span class="month">May</span>
        <span class="day">15</span>
        <span class="year">2023</span>
        <span class="time">3:00 PM</span>
      </div>
      <h2 class="event-name">Digital Art Exhibition</h2>
    </div>
    <button class="btn">Click Here for Details</button>
  </div>
  <div class="container">
    <div class="event">
      <div class="event-date">
        <span class="month">May</span>
        <span class="day">15</span>
        <span class="year">2023</span>
        <span class="time">3:00 PM</span>
      </div>
      <h2 class="event-name">Digital Art Exhibition</h2>
    </div>
    <button class="btn">Click Here for Details</button>
  </div>
</ion-content>
